#test-bundle-container
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.bundleRow {
}

.bundleRow:hover {
    cursor: pointer;
    background-color: #EEEEEE !important;
}

.choose-plugin-link
{
    vertical-align: middle;
    line-height: 22px;
}